#gg{
    position:absolute;
    overflow-y:auto;
    overflow-x:hidden;
    width:100vw;
    height:150vw;
    top:15vw;
    left:2vw;
}
#background{
    position:absolute;
    z-index:-2;
    width: 100%;
    height: 100%;
    left:0px;
    top:0px;
}
.topbar{
    position:absolute;
    left:0px;
    top: 0px;
    background-color:#4c4b4b;
}
#Gallery{
    position:relative;
    height:7%;
    width:80%;
    margin-left:10%;
}
#SettingIcon{
    position:relative;
    width:7%;
    margin-top:3%;
    margin-bottom:3%;
}

#Bottom{
    position:absolute;
    background-color:#c4dcc9;
    bottom:0px;
    left:0px;
}
.BottomIcon{
    width:7%;
    margin-left:8.5%;
    margin-right:8.5%;
    margin-top:2%;
    margin-bottom:2%;
}
.container{
}
#slides{
    position:absolute;
    top:50vw;
    left:10vw;
    width: 80%;
}
.slides{
    position:relative;
    margin-top:10vw;
    left:10vw;
    width: 80vw;
    display: none;
}
.photo{
    position:absolute;
    margin-top:0vw;
    width:50%;
}


body {
    -webkit-font-smoothing: antialiased;
    font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #232525;
    padding-top:70px;
}
#slides {
    display: none;
}

.slidesjs-navigation {
    margin-top:3px;
}

.slidesjs-previous {
    margin-right: 5px;
    float: left;
}

.slidesjs-next {
    margin-right: 5px;
    float: left;
}

.slidesjs-pagination {
    margin: 6px 0 0;
    float: right;
    list-style:none;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

.slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url("/public/images/pagination.png");
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
    background-position: 0 -26px
}

.navbar {
    overflow: hidden
}
<!-- End SlidesJS Optional-->

<!-- SlidesJS Required: These styles are required if you'd like a responsive slideshow -->
<style>
#slides {
    display: none
}

.container {
    margin: 0 auto
}

/* For tablets & smart phones */
@media (max-width: 767px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
      }
    .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
    }