#gg{
    position:relative;
    overflow-y:auto;
    overflow-x:hidden;
    width:100vw;
    height:150vw;
    top:15vw;
    left:2vw;
}
#background{
    position:absolute;
    z-index:-2;
    width: 100%;
    height: 100%;
    left:0px;
    top:0px;
}
.topbar{
    position:absolute;
    left:0px;
    top: 0px;
    background-color:#4c4b4b;
}
#Gallery{
    position:relative;
    height:7%;
    width:80%;
    margin-left:10%;
}
#SettingIcon{
    position:relative;
    width:7%;
    margin-top:3%;
    margin-bottom:3%;
}

#Bottom{
    position:absolute;
    background-color:#c4dcc9;
    bottom:0px;
    left:0px;
}
.BottomIcon{
    width:7%;
    margin-left:8.5%;
    margin-right:8.5%;
    margin-top:2%;
    margin-bottom:2%;
}
#ProfileBack{
    position:absolute;
    z-index:-1;
    margin-top:1.5vw;
    width:70vw;
}
#profile{
    position:relative;
    display:flex;
    margin-top:1vw;
    margin-left:1vw;
}
.bighead{
    position:relative;
    width:10vw;
    height:10vw;
}
#NameAndID{
    position:relative;
}
.text{
    position:relative;
    left:2vw;
    top:2vw;
    font-family: Microsoft JhengHei;
    color: #555556;
}
.Name{
    position:relative;
    font-weight:bold;
    font-size: 4vw;
}
.YOYO{
    background-color:white;
    width:70vw;
    height:60vw;
    margin-left:13vw;
    margin-top:4vw;
}
.slides{
    position:relative;
    margin-top:2vw;
    left:1vw;
    width:67vw;
    display: none;
}
.slideDiv{
}
.Des{
    position:absolute;
    margin-left:3vw;
    margin-top:3vw;
}
.photo{
    position:absolute;
    margin-top:10vw;
    margin-left:2vw;
    width:66vw;
    height:34vw;
}


body {
    -webkit-font-smoothing: antialiased;
    font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #232525;
    padding-top:700px;
}

.slidesjs-navigation {
    margin-top:3px;
}

.slidesjs-previous {
    margin-right: 5px;
    float: left;
}

.slidesjs-next {
    margin-right: 5px;
    float: left;
}

.slidesjs-pagination {
    margin: 6px 0 0;
    float: right;
    list-style:none;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

.slidesjs-pagination li a {
    display: block;
    width: 12px;
    height: 0;
    padding-top: 12px;
    background-image: url("/public/images/pagination.png");
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
    background-position: 0 -26px
}

.navbar {
    overflow: hidden
}

.container {
    
}

