.TeamName{
    position:absolute;
    z-index:3;
    width:80vw;
    height:70vw;
    left:10vw;
    top:70vw;
    
}
.SmallBack{
    position:absolute;
    width:100%;
}
.VagueBack{
    position:absolute;
    z-index:2;
    background-color:black;
    opacity: 0.6;
    width:100vw;
    height:100%;
    left:0px;
    top:0px;
}
#Search{
    margin-top:10vw;
    margin-left:7vw;
}
#TeamText{
    position:absolute;
    top:17.5vw;
    left:9vw;
    font-size: large;
    font-family: Microsoft JhengHei;
    font-weight: 900;
}
.X{
    position:absolute;
    width:7%;
    left:71vw;
    top:3.5vw;
}

.Add{
    position:absolute;
    margin-top:3vw;
    right:5vw;
    width:6%;
}
.item{
    margin-left:4vw;
}
#name{
    position:absolute;
}
#ID{
    position: absolute;
    margin-top:3vw;
}

body{
    overflow:hidden;
}
#TeamBackground{
    position:absolute;
    z-index:-1;
    width: 100%;
    height:100%;
    left:0px;
    top:0px;
}
.team{
    
}
.topbar{
    position:absolute;
    left:0px;
    top: 0px;
    background-color:#4c4b4b;
}
#WhiteBack{
    position:relative;
    width:7%;
    margin-top:1%;
    margin-left:3%;
    margin-bottom:1%;
}
#AdhocMode{
    position:fixed;
    width:100%;
    height:13vw;
}
#Wheel{
    position:fixed;
    top:4vw;
    width:6%;
    right:4vw;
}
.FriendsIn{
    margin-top:50%;
    margin-left:14%;
}
.FriendHead{
    width:10%;
}
.FriendsOnline{
    position:relative;
    display:flex;
    background:white;
    width:74%;
    margin-left:14%;
}
.Online{
    position:relative;
    font-family: Microsoft JhengHei;
    font-weight:600;
    font-size:2.2vw;
}
#Friendonline{
    position:relative;
    font-family: Microsoft JhengHei;
    font-weight:900;
    font-size:3.4vw;
    margin-top:4%;
    margin-left:3%;
}
#OnlineList{
    display:flex;
    background-color:white;
    margin-top:5%;
    margin-left:4%;
}
#Plus{
    position:relative;
    width:6%;
    height:6%;
    margin-left:26%;
    margin-top:4%;
    margin-right:0%;
}
.FriendList{
    width:74vw;
    height:70vw;
    position:relative;
    overflow:auto;
    margin-left:14%;
    background-color:white;
}
.OnlineDot{
    width:4%;
}
.Invite{
    position:absolute;
    right:0px;
    width:20%;
}
#StartGame{
    position:relative;
    margin-left:12%;
}
#StartGameIcon{
    width: 89%;
}
#Bottom{
    position:absolute;
    background-color:#c4dcc9;
    bottom:0px;
    left:0px;
}
.BottomIcon{
    width:7%;
    margin-left:8.5%;
    margin-right:8.5%;
    margin-top:2%;
    margin-bottom:2%;
}
