* {
  box-sizing: border-box;
  font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", sans-serif;
}
#map {
  height: 84%;
  z-index: 0;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", sans-serif;
}

#title_bar{
  height: 8%;
  background-color: rgba(0, 0, 0, 0.7);
  vertical-align: top;
  z-index: 1;
}

#title{
  height: 55%;
  margin-left: 30%;
  margin-top: 3%;
}

#user_pic{
  position: absolute;
  height: 5%;
  top:1.5%;
  left: 3%;
}

#setting{
  position: absolute;
  height: 4%;
  top:2%;
  right: 4%;
}

#game_bar{
  height: 8%;
}

#game_bar_background{
  height: 500%;
  z-index: 1;
}

#decoration1{
  position: absolute;
  top: 9.5%;
  height: 5%;
  z-index: 2;
}

#decoration2{
  position: absolute;
  top: 9.5%;
  right: 1%;
  height: 5%;
  z-index: 2;
}

#team_name{
  position: absolute;
  font-family: Microsoft JhengHei;
  font-size: 13px;
  letter-spacing: 1px;
  z-index: 2;
  top: 10.5%;
  left: 5%;
}

#game_count{
  position: absolute;
  top: 9%;
  left: 33%;
  height: 6%;
  z-index: 2;
}

#time{
  position: absolute;
  top: 10.75%;
  left: 46%;
  z-index: 3;
}

#game_score{
  position: absolute;
  top: 8.75%;
  left: 68%;
  height: 6%;
  z-index: 2;
}
#score_text{
  position: absolute;
  top: 10.5%;
  left: 83%;
  z-index: 3;
}

#btn_camera{
  position: absolute;
  bottom: 8%;
  height: 8%;
  left: 2%;
}

#nav_home{
  position: absolute;
  bottom: 1.5%;
  height: 4%;
  left: 10%;
  visibility: hidden;
}

#nav_gallery{
  position: absolute;
  bottom: 1.5%;
  height: 4%;
  left: 33%;
  visibility: hidden;
}

#nav_group{
  position: absolute;
  bottom: 1%;
  height: 4.5%;
  left: 60%;
  visibility: hidden;
}

#nav_score{
  position: absolute;
  bottom: 1%;
  height: 4.5%;
  right: 10%;
  visibility: hidden;
}

#bottom_navigation_background{
  visibility: hidden;
}

#big_clue_background{
  position: absolute;
  height: 50%;
  left: 6.5%;
  top:25%;
}

#btn_hide{
  position: absolute;
  height: 3%;
  left: 82%;
  top:27%;
}

#btn_clue{
  position: absolute;
  height: 6%;
  left: 76%;
  top:66%;
}

#big_clue_picture{
  position: absolute;
  height: 28%;
  left: 13%;
  top:31%;
}

.big_clue{
  visibility: hidden;
}

#small_clue_background{
  position: absolute;
  height: 20%;
  left: 2%;
  top:73%;
}

#small_clue_picture{
  position: absolute;
  height: 15.5%;
  left: 5%;
  top:75.5%;
}

.small_clue{
  visibility: hidden;
}

#submit_image{
  position: absolute;
  background: "submit_image.png";
  height: 6%;
  left: 30%;
  top:62%;
  display: none;
}

#submit_image_label{
  position: absolute;
  background-image: url(https://i.imgur.com/PYTVQM7.png);
  height: 26px;
  width: 80px;
  left: 30%;
  top:62%;
  cursor: pointer;
  z-index: 4;
}

#submit_button{
  position: absolute;
  height: 3%;
  left: 33%;
  top:68%;
  display: none;
}

#submit_button_label{
  position: absolute;
  background-image: url(https://i.imgur.com/6qdwuaf.png);
  height: 26px;
  width: 80px;
  left: 30%;
  top:68%;
  cursor: pointer;
  z-index: 4;
}

#fb{
  position: absolute;
  height: 5%;
  left: 35%;
  top:66%;
  visibility: hidden;
}

#ig{
  position: absolute;
  height: 5%;
  left: 50%;
  top:66%;
  visibility: hidden;
}

#twitter{
  position: absolute;
  height: 5%;
  left: 65%;
  top:66%;
  visibility: hidden;
}

#success{
  position: absolute;
  height: 30%;
  left: 20%;
  top:30%;
  z-index: 4;
  visibility: hidden;
}
#success_message{
  position: absolute;
  height: 15%;
  left: 26%;
  top:60%;
  z-index: 4;
  visibility: hidden;
}

#try_again{
  position: absolute;
  height: 30%;
  left: 20%;
  top:30%;
  z-index: 4;
  visibility: hidden;
}

#uploaded_image{
  visibility: hidden;
}

#upload_response{
  visibility: hidden;
}

#loader {
  position: absolute;
  left: 42%;
  top:35%;
  z-index: 4;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #00bb73; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  visibility: hidden;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loader_message{
  position: absolute;
  left : 38%;
  top : 49%;
  z-index: 4;
}

#message{
  position: absolute;
  height: 6%;
  left: 55%;
  top:62%;
  z-index: 4;
  visibility: hidden;
}

#success_background{
  position: absolute;
  height: 70%;
  left: 15%;
  top:20%;
  z-index: 5;
  visibility: hidden;
}

#btn_exit{
  position: absolute;
  height: 4%;
  left: 74.5%;
  top:21%;
  z-index: 6;
  visibility: hidden;
}

#success_clue_picture{
  position: absolute;
  height: 23%;
  left: 19%;
  top:26%;
  z-index: 6;
  visibility: hidden;
}

#success_paragraph{
  width: 62%;
  position: absolute;
  height: 80%;
  left: 20%;
  top:55%;
  z-index: 7;
  color: #000;
  visibility: hidden;
}

#setting_background{
  position: absolute;
  height: 25%;
  left: 13%;
  top:40%;
  z-index: 6;
  visibility: hidden;
}

#p_end_game{
  position: absolute;
  height: 25%;
  left: 36.5%;
  top:45%;
  z-index: 6;
  visibility: hidden;
}

#btn_yes{
  position: absolute;
  height: 10%;
  left: 20%;
  top:53%;
  z-index: 7;
  visibility: hidden;
}

#btn_no{
  position: absolute;
  height: 10%;
  left: 55%;
  top:53.25%;
  z-index: 7;
  visibility: hidden;
}