.TeamName{
    position:absolute;
    z-index:3;
    width:80vw;
    height:70vw;
    left:10vw;
    top:70vw;
        
}
.SmallBack{
    position:absolute;
    width:100%;
}
.VagueBack{
    position:absolute;
    z-index:2;
    background-color:black;
    opacity: 0.6;
    width:100vw;
    height:100%;
    left:0px;
    top:0px;
}
#input{
    position:absolute;
    top:16vw;
    left:33vw;
    width:50%;
}
#SetTeamName{
    
}
.TeamText{
    position:absolute;
    top:17.5vw;
    left:9vw;
    font-size: large;
    font-family: Microsoft JhengHei;
    font-weight: 900;
}
.X{
    position:absolute;
    width:7%;
    left:71vw;
    top:3.5vw;
}
#OK{
    position:absolute;
    width:28%;
    top:30vw;
    left:33vw;
}
#YES{
    position:absolute;
    width:28%;
    top:30vw;
    left:20vw;
}
#NO{
    position:absolute;
    width:28%;
    top:30vw;
    left:45vw;
}
#photo{
    position:absolute;
    width:15vw;
    left:10vw;
    top:10vw;
    z-index:5;
}
#TextinTeam{
    display:inline;
}
#Whether{
    position:absolute;
    left:28vw;
    top:11vw;
}
#name{
    position:absolute;
    left:28vw;
}
#background{
    position:absolute;
    z-index:-2;
    width: 100%;
    height: 100%;
    left:0px;
    top:0px;
}
#ProfileBack{
    position:absolute;
    z-index:-1;
    width:74%;
    left:14vw;
    top:19vw;
}
body{
    overflow:hidden;
}

.topbar{
    position:fixed;
    
    left:0px;
    top: 0px;
    background-color:#4c4b4b;
}
#ClueCityInMode{
    position:relative;
    margin-left:25%;
    margin-top:3%;
    margin-bottom:2%;
    width:50%;
    height:5%;
}
#SettingIcon{
    position:relative;
    width:7%;
    margin-top:3%;
    margin-bottom:3%;
    margin-left:12%;
}
#profile{
    position:relative;
    display:flex;
    background-size:80%;
    margin-left:15%;
    margin-top:20%;
}
#bighead{
    position:relative;
    width:13%;
    height:6%;
}
#NameAndID{
    position:relative;
    margin-top:4%;
    margin-left:3%;
}
.text{
    font-family: Microsoft JhengHei;
}
#Name{
    position:absolute;
    left:1vw;
    font-weight:bold;
    font-size: 5vw;
    width:20vw;
}
#ID{
    position:absolute;
    left:20vw;
    width:50%;
    font-weight:500;
    font-size: 3vw;
}
#SingleMode{
    position:relative;
    top:3vw;
}
#Single{
    position:relative;
    margin-left:20%;
    width:11%;
}
#SingleText{
    position:relative;
    margin-left:11%;
    margin-bottom:5%;
    width:41vw;
}
#MultiMode{
    display:flex;
    position:relative;
    margin-top:2%;
    width:100%;
}
#Multi{
    position:relative;
    margin-left:10%;
    width:25%;
    height:15%;
}
#MultiText{
    position:relative;
    margin-left:8%;
    margin-bottom:5%;
    width:41vw;
    height:22vw;
}
.PlayNum{
    position:relative;
    width:50%;
}

#Difficulty
{
    margin-top:7%;
    display: flex;
    margin-left:10%;
}
.DifImg{
    width:60%;    
}
#EasyText{
    width:85%;
}
#NormalImg{
    margin-top:5.5%;
    margin-left:10%;
}
#NormalText{
    margin-left:10%;
    width:80%;
}
#HardImg{
    margin-top:11.5%;
    margin-left:10%;
}
#HardText{
    margin-left:10%;
    width:70%;
}
#StartIcon{
    margin-top:3%;
    margin-left:10%;
    width:80%;
}
#Bottom{
    position:fixed;
    background-color:#c4dcc9;
    bottom:0px;
    left:0px;
}
.BottomIcon{
    width:7%;
    margin-left:8.5%;
    margin-right:8.5%;
    margin-top:2%;
    margin-bottom:2%;
}
