#background{
    position:absolute;
    z-index:-2;
    width: 100%;
    left:0px;
    top:0px;
}
#ProfileBack{
    position:absolute;
    z-index:-1;
    width:74%;
    left:14vw;
    top:19vw;
}
body{
    overflow: hidden;
}

.topbar{
    position:absolute;
    left:0px;
    top: 0px;
    background-color:#4c4b4b;
}
#ClueCityInMode{
    position:relative;
    margin-left:25%;
    margin-top:3%;
    margin-bottom:2%;
    width:50%;
    height:5%;
}
#SettingIcon{
    position:relative;
    width:7%;
    margin-top:3%;
    margin-bottom:3%;
    margin-left:12%;
}
#profile{
    position:relative;
    display:flex;
    background-size:80%;
    margin-left:15%;
    margin-top:20%;
}
#bighead{
    position:relative;
    width:13%;
    height:6%;
}
#NameAndID{
    position:relative;
    margin-top:4%;
    margin-left:3%;
}
.text{
    position:relative; 
    font-family: Microsoft JhengHei;
}
#Name{
    font-weight:bold;
    font-size: 5vw;
}
#ID{
    font-weight:500;
    font-size: 3vw;
}
#SingleMode{
    position:relative;
    margin-top:5%;
}
#Single{
    position:relative;
    margin-left:20%;
    width:11%;
}
#SingleText{
    position:relative;
    margin-left:11%;
    margin-bottom:5%;
    width:40%;
}
#MultiMode{
    display:flex;
    position:relative;
    margin-top:2%;
    width:100%;
}
#Multi{
    position:relative;
    margin-left:10%;
    width:25%;
    height:15%;
}
#MultiText{
    position:relative;
    margin-left:8%;
    margin-bottom:5%;
    width:41%;
    height:13%;
}
.PlayNum{
    position:relative;
    width:50%;
}

#Difficulty
{
    margin-top:7%;
    display: flex;
    margin-left:10%;
}
.DifImg{
    width:60%;    
}
#EasyText{
    width:85%;
}
#NormalImg{
    margin-top:5.5%;
    margin-left:10%;
}
#NormalText{
    margin-left:10%;
    width:80%;
}
#HardImg{
    margin-top:11.5%;
    margin-left:10%;
}
#HardText{
    margin-left:10%;
    width:70%;
}
#StartIcon{
    margin-top:3%;
    margin-left:10%;
    width:80%;
}
#Bottom{
    position:absolute;
    background-color:#c4dcc9;
    bottom:0px;
    left:0px;
}
.BottomIcon{
    width:7%;
    margin-left:8.5%;
    margin-right:8.5%;
    margin-top:2%;
    margin-bottom:2%;
}
