body,html{
    height:100%;
}
body{
    overflow: hidden;
}
#background{
    position:absolute;
    z-index:-1;
    width: 100%;
    height: 100%;
    left:0px;
    top:0px;
}
.topbar{
    position:absolute;
    left:0px;
    top: 0px;
    width:100%;
    height:5%;
    background-color:#4c4b4b;
}
.Music{
    position:relative;
    margin-top:40%;
    margin-left:35%;
}
#Muse{
    width:50%;
}
#SoundEffect{
    width:4%;
    position:absolute;
    top:40.55vw;
    left:62vw;
    z-index:1;
}
#MusicEffect{
    width:4%;
    position:absolute;
    top:49.5vw;
    left:62vw;
    z-index:1;
}
#Music{
    width:50%;
    margin-top:5%;
}
#Setting{
    position:relative;
    margin-left:0%;
    margin-top:0%;
    margin-bottom:0%;
    width:100%;
}
#SettingIcon{
    position:relative;
    width:7%;
    margin-top:3%;
    margin-bottom:3%;
    margin-left:12%;
}
.List{
    margin-left:35%;
    margin-top:10%;
}
.Listt{
    width:49%;
}
#AboutUs{
    margin-left:2%;
}
#LogOut{
    margin-top:3%;
    margin-left:2%;
}
#Bottom{
    position:fixed;
    background-color:#c4dcc9;
    bottom:0px;
    left:0px;
}
.BottomIcon{
    width:7%;
    margin-left:8.5%;
    margin-right:8.5%;
    margin-top:2%;
    margin-bottom:2%;
}